<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="icon" href="/favicon.ico">
    <meta charset="UTF-8">
    <title>main</title>

</head>

<body>
    <div style="display:{{ admin_display }}">
        Admin function
        <form type action="/admin_func" method="post">
            <input type="submit" name="send" value="users_info">
            <input type="submit" name="send" value="trades_info">
        </form>
        ============================================================================ <br />
    </div>

    <table border="1">
        <thead>
            <th>popular category</th>
            <th>best buyer</th>
            <th>best seller</th>
        </thead>

        <tbody>
            <tr>
                <td>{{popular_category}}</td>
                <td>{{best_buyer}}</td>
                <td>{{best_seller}}</td>
            </tr>
        </tbody>
    </table>
    current user: {{id}} /
    <form action="/logout" method="post" style="display: inline;">
        <input type="submit" name="send" value="logout">
    </form> <br />
    balance: {{balance}} <br />
    rating: {{rating}} <br />

    ITEMS

    <form action="/item_add" method="post">
        <input type="submit" name="trades" value="add">
    </form>
    <table border="1">
        <thead>
            <th>code</th>
            <th>name</th>
            <th>price</th>
            <th>stock</th>
            <th>seller</th>
            <th></th>
        </thead>

        <tbody>
            {% for item in items %}
            <tr>
                <td>{{item[0]}}</td>
                <td>{{item[1]}}</td>
                <td>{{item[2]}}</td>
                <td>{{item[3]}}</td>
                <td>{{item[4]}}</td>
                <td>
                    <form action="/item_buy" method="post">
                        <input type="hidden" name="id" value={{item[0]}}>
                        <input type="submit" name="buy" value="buy">
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>



    <!-- <form action="/register" method="post">
        <label for="user_id">ID:</label><br>
        <input id="user_id" type="text" name="id" value=""><br>

        <label for="user_pwd">PASSWORD:</label><br>
        <input id="user_pwd" type="text" name="password" value="****"><br><br>

        <input type="submit" name="send" value="login">
        <input type="submit" name="send" value="sign up">
    </form> -->

    <!-- <form action="/print_table" method="post">
        <input type="submit" name="send" value="print">
    </form> -->

</body>

</html>